{% extends "base.html" %}
{% block content %}


<div class="container">
<p></p>
    <table style="width:100%">
  <tr>
    <th>Name</th>
  </tr>
  <tr>
    <td>William Montgomery</td>

  </tr>
  <tr>
    <td>Gareth Halladay</td>

    </tr>
  <tr>
    <td>Anela Tosevska</td>


  </tr>
  <tr>
    <td>Frank Burkholder</td>

  </tr>
  <tr>
    <td>Adam Richards</td>

  </tr>
  <tr>
    <td>Andrew Gaines</td>

  </tr>
</table>


</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../static/js/jquery.min.js"><\/script>')</script>
<script src="../static/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>

{% endblock %}
