{% extends "base.html" %}
{% block content %}


  <h1>Your Predicted Top 20</h1>

  <span style="color: black; font-weight: bold;">Your Deal Type</span>
  <p>{{ u_deal_type }}</p>
  <span style="color: black; font-weight: bold;">Your Reno Budget</span>
  <p>{{ u_reno_budget }}</p>

  <span style="color: black; font-weight: bold;">Table</span>
  <p>{{ top20table }}</p>

  <span style="color: black; font-weight: bold;">Map</span>
  <iframe src={{html_map}} style="display: block; width: 90%; height: 600px; margin: 0 auto; border: 0;"></iframe>





<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../static/js/jquery.min.js"><\/script>')</script>
<script src="../static/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>

{% endblock %}
