{% extends "base.html" %}
{% block content %}


    <div class="container">
      <script src="https://use.fontawesome.com/3b0888d093.js"></script>
      <h2 id="purpose">Emily Gill</h2>
        <p>
          Galvanize Data Science Immersive Fellow (Jan 2018), <br />
          Ph.D. (2015), M.S. (2012) Civil Engineering Ph.D (Hydrology & Water Resources) from U. of Colorado at Boulder, <br />
          B.S. (2007) Animial Behavior, Franklin & Marshall College  <br />
        </p>
        <p>
          <i class="fa fa-linkedin" aria-hidden="true"></i>: /in/ecgill <br />
          <i class="fa fa-github" aria-hidden="true"></i>: /ecgill <br />
        </p>
        </ul>
          <h2 id="techstack">Technologies Stack</h2>
            <p>For more details visit the documentation:</p>
              <ul>
                <li><a href="[http://scikit-learn.org/stable">sklearn</a></li>
                <li><a href="http://flask.pocoo.org">Flask</a></li>
                <li><a href="https://github.com/vgm64/gmplot">gmplot</a></li>
                <li><a href="https://aws.amazon.com/">Amazon Web Serices</a></li>
        </ul>
      <h2 id="support">Support</h2>
        <p>Huge thanks to <a href="http://www.getprivynow.com/">Privy</a>, a real-estate investment software company that supported this work, <br />
          as well as my <a href='https://www.galvanize.com/denver-platte/data-science'>Galvanize</a> instructors and cohort-mates for this amazing 3-month data science adventure
          <br>and my husband Marty for basically doing everything while I was worthless roomate for the past 3 months!</p>

          <hr>
          <footer>
            <p>&copy; Jan 2018 Emily Gill. <br /><br /> Disclaimer: THE MODEL ON THIS WEBSITE WAS THE RESULT OF A STUDENT PROJECT EXPLORING A CONCEPT.
              ALL INFORMATION CONTENT MATERIALS AND OTHER SERVICES INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH THIS
              WEBSITE ARE PROVIDED ON A “AS IS” AND “AS AVAILABLE” BASIS.  I MAKE NO REPRESENTATIONS OR WARRANTIES OF ANY KIND
              EXPRESS OR IMPLIED AS TO THE OPERATION OF THE INFORMATION CONTENT MATERIALS OR OTHER SERVICES INCLUDED ON OR
              OTHERWISE MADE AVAILABLE ON THIS WEBSITE.  YOU EXPRESSLY AGREE THAT YOUR USE OF THIS SITE IS AT YOUR SOLE RISK. I WILL NOT
              BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THIS WEBSITE OR FROM ANY INFORMATION, CONTENT, MATERIALS
              OR OTHER SERVICES INCLUDED ON OR OTHERWISE MADE AVAILABLE HERE, INCLUDING BUT NOT LIMITED TO, DIRECT, INDIRECT, INCIDENTAL,
              PUNITIVE AND CONSEQUENTIAL DAMAGES. </p>
          </footer>
    </div><!-- /.container -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/js/jquery.min.js"><\/script>')</script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

{% endblock %}
