{% extends "base.html" %}
{% block content %}


<div class="container">
  <script src="https://use.fontawesome.com/3b0888d093.js"></script>
  <h2 id="purpose">Hot Zones for Flipping in Denver</h2>
    <p>
      Using a csv of past real estate investments in Denver, I used <a href='https://github.com/vgm64/gmplot'>gmplot</a>, which generates HTML and javascript to render
      data on Google Maps, to visualize heat maps of flipping activity in Denver. The gif below shows the evolution of flipping hot zones in Denver over the past 5 years. Each
      frame of the gif represents four months (either JFMA, MJJA, or SOND). Top right corner of gif shows the time period.
    </p>
    <p>
      <img src="static/heatmap.gif" alt="Heatmap GIF" width=75% style="width: 80%; height: 600px; margin: 0 auto; border: 0;">
    </p>
    </ul>
      <hr>
      <id="linktodiv">
      <h2 id="techstack">Looking for recent heatmaps?</h2>
        <p>Pick a time period (last year, past 6 months, past 3 months) and type of investment deal (fix 'n flip, pop-top, scrape, or all types).</p>
          <form action="/hotzones" method="POST" align="left" style="width:100%">
                <div>
                    <label>Deal Type :</label>
                    <select name="u_deal_type" width="300px">
                      {% for deal in deal_types %}
                    <option value="{{ deal }}" SELECTED>{{ deal }}</option>
                      {% endfor %}
                    </select>
                </div>
                <div>
                    <label>Time Period :</label>
                    <select name="u_time_period" width="300px">
                      {% for period in time_periods %}
                    <option value="{{ period }}" SELECTED>{{ period }}</option>
                      {% endfor %}
                    </select>
                </div>

            <button type="submit">View Heat Map</button>
            <br></br>
          </form>

        <p>
          <p>deal type: {{u_deal_type}}</p>
          <p>time period: {{u_time_period}}</p>
          <iframe src={{map_filename}} style="display: block; width: 80%; height: 600px; margin: 0 auto; border: 0;"></iframe>
        </p>

      <hr>
      <footer>
        <p>&copy; Jan 2018 Emily Gill. <br /><br /> Disclaimer: THE MODEL ON THIS WEBSITE WAS THE RESULT OF A STUDENT PROJECT EXPLORING A CONCEPT.
          ALL INFORMATION CONTENT MATERIALS AND OTHER SERVICES INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH THIS
          WEBSITE ARE PROVIDED ON A “AS IS” AND “AS AVAILABLE” BASIS.  I MAKE NO REPRESENTATIONS OR WARRANTIES OF ANY KIND
          EXPRESS OR IMPLIED AS TO THE OPERATION OF THE INFORMATION CONTENT MATERIALS OR OTHER SERVICES INCLUDED ON OR
          OTHERWISE MADE AVAILABLE ON THIS WEBSITE.  YOU EXPRESSLY AGREE THAT YOUR USE OF THIS SITE IS AT YOUR SOLE RISK. I WILL NOT
          BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THIS WEBSITE OR FROM ANY INFORMATION, CONTENT, MATERIALS
          OR OTHER SERVICES INCLUDED ON OR OTHERWISE MADE AVAILABLE HERE, INCLUDING BUT NOT LIMITED TO, DIRECT, INDIRECT, INCIDENTAL,
          PUNITIVE AND CONSEQUENTIAL DAMAGES. </p>
      </footer>
</div><!-- /.container -->



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../static/js/jquery.min.js"><\/script>')</script>
<script src="../static/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>

{% endblock %}
