{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">

        <div class="col-md-6 col-md-offset-3">

            <div class="jumbotron">
                <form action="/predict" method="POST" align="center" style="width:100%">
                  <h1>Find Your Next Flip</h1>
                  <p>1. Choose the investment deal type you're looking to undertake - fix 'n flip, pop-top, or complete scrape.</p>
                      <div>
                          <label>Deal Type :</label>
                          <select name="u_deal_type" width="300px">
                            {% for x in deal_types %}
                          <option value="{{ x }}" SELECTED>{{ x }}</option>
                            {% endfor %}
                          </select>
                      </div>
                  <p>2. Provide your renovation budget in 1000's of dollars. (e.g. if you have $100,000 to spend on your reno, input the number 100)</p>
                      <textarea name="u_reno_budget", rows="1", cols="10"></textarea>
                      <p></p>
                  <button type="submit">Flip Risk Indexer</button>
                </form>
            </div>

        </div>

    </div>

</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../static/js/jquery.min.js"><\/script>')</script>
<script src="../static/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>

{% endblock %}
